<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zoe.litter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.StartActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".drawLayout.DrawLayout2Activity">
        </activity>
        <activity android:name=".drawLayout.DrawLayoutActivity">
        </activity>
        <activity
            android:name=".toolBar.ToolBarActivity"
            android:label="@string/title_activity_tool_bar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".coordinatelayout.CoordinateActivity">
        </activity>
        <activity android:name=".coordinatelayout.AppBarActivity">
        </activity>
        <activity android:name=".TabLayou_ViewPager.TabLayoutViewPagerActivity">
        </activity>
    </application>

</manifest>